# Godot generated / cache
.export/
.import/
.godot/

# Mono / C#
mono/
.mono/

# IDE / éditeurs
.vscode/
.idea/
.vs/

# Builds / binaires
bin/
release/
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
